body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}
#punchline{
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.pointer {
    cursor: pointer;
}